.fundraising .personPage-gallery {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.fundraising-wrap {
    padding: 61px 0 60px 0;
    border-top: 1px solid #E6DEDD;
}

.fundraising-wrap .title-l {
    margin-bottom: 10px;
}

.list-num {
    padding-bottom: 10px;
}

.list-num, .list {
    margin: 20px 0 0 19px;
}

.list-num li {
    list-style-type: decimal;
    margin-bottom: 10px;
}

.list-num li p {
    margin-left: 10px;
}

.list-num li::marker, .list li::marker {
    font-weight: bold;
    color: var(--orange);
    left: 0;
}

.descr-s p {
    margin-top: 20px;
}


